<ion-view view-title="BuyAndSellam">
    <div class="bar bar-subheader">
        <span class="title"><i>{{libellecategorie}}</i></span>
    </div>
    <ion-content ng-class="{expanded:isExpanded,true:'noArticle'}[articles.hasArticle==false]" class="has-subheader animate-fade-slide-in">
        <div ng-switch="articles.hasArticle">
            <div ng-switch-when="true">
                <div class="list half" ng-repeat="lesarticles in articles">
                    <div  ng-repeat="article in lesarticles.slice(0,(lesarticles.length/2))" ng-controller="ArticlesController"  class="card card-gallery item item-text-wrap" >
                        <div  ui-sref="app.articledetails({article:'{{article.idArticle}}'})" class="ink dark-bg">
                            <h2>{{article.titre}}</h2>
                            <img  class="full-image" ng-src="{{url}}{{cheminImage}}{{article.images[0].cheminImage}}">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item stable-bg assertive">
                                <i class="icon "></i>
                                <span class="price">{{article.prix}} FCFA</span>
                            </a>
                            <a class="tab-item stable-bg positive-900">
                                <i class="icon ion-eye"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list half" ng-repeat="lesarticles in articles">
                    <div  ng-repeat="article in lesarticles.slice((lesarticles.length/2),lesarticles.length)" ng-controller="ArticlesController"  class="card card-gallery item item-text-wrap">
                        <div  ui-sref="app.articledetails({article:'{{article.idArticle}}'})" class="ink dark-bg">
                            <h2>{{article.titre}}</h2>
                            <img  class="full-image" ng-src="{{url}}{{cheminImage}}{{article.images[0].cheminImage}}">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item stable-bg assertive">
                                <i class="icon "></i>
                                <span class="price">{{article.prix}} FCFA</span>
                            </a>
                            <a class="tab-item stable-bg positive-900">
                                <i class="icon ion-eye"></i>
                                0
                            </a>
                        </div>
                        <!--<div class="ink dark-bg">
                            <h2>Making Olaf a House</h2>
                            <img class="full-image" src="../img/sansa-snowcastle2.jpg">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item stable-bg assertive">
                                <i class="icon ion-heart"></i>
                                22
                            </a>
                            <a class="tab-item stable-bg positive-900">
                                <i class="icon ion-chatbubbles"></i>
                                9
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
            <div ng-switch-when="false">
               <h2>NO ARTICLE FOR THIS CATEGORIES</h2>
            </div>
        </div>
    </ion-content>
    <a ui-sref="app.addarticle">

        <md-button class="md-warn md-raised md-hue-2 md-fab md-fab-bottom-right ion-plus-round">
        </md-button>
    </a>
</ion-view>
