<ion-view view-title="BuyAndSellam">
    <ion-content>
        <div class="list card" style="transition-delay: 0.13s;">
            <a href="#" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>
                    Toronto
                </h2>
                <p>
                    Drake's Raptastic Raptors
                </p>
                <img src="../img/daenerys.jpg" style="transition-delay: 0.02s;"/>
            </a>
        </div>
        <div class="list card  in" style="transition-delay: 0.27s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>
                    Scotland
                </h2>
                <p>
                    Land of Unicorns
                </p>
                <img src="../img/material4.jpg" style="transition-delay: 0.09s;"/>
            </a>
        </div>
        <div class="list card in" style="transition-delay: 0.4s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>
                    Kyoto
                </h2>
                <p>
                    Cultural Experience
                </p>
                <img src="../img/material2.jpg" style="transition-delay: 0.19s;"/>
            </a>
        </div>
        <div class="list card  in" style="transition-delay: 0.54s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>
                    New Zealand
                </h2>
                <p>
                    More Than the Other Down Under
                </p>
                <img src="../img/material1.jpg" style="transition-delay: 0.27s;"/>
            </a>
        </div>
        <div class="list card">
            <a href="#" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                <h2>
                    Hawai'i
                </h2>
                <p>
                    Paradise Getaway
                </p>
                <img src="../img/jon-snow.jpg"/>
            </a>
        </div>
    </ion-content>
</ion-view>
