<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon"  menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                    <button ui-sref="app.filtres" class="button button-icon button-clear ion-android-search">
                    </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"  animation="slide-left-right" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <div ng-switch="{{logged}}">
            {{logged}}
            <ion-header-bar ng-switch-when="false" class="dark-bg expanded" ui-sref="app.login" menu-close  >
                <span class="avatar" style="background: url('img/default.png'); background-size: cover;"></span>
                <h2 style="color: black">Se Connecter</h2>
            </ion-header-bar>
            <ion-header-bar ng-switch-when="true" class="dark-bg expanded" ui-sref="app.profile({utilisateur:'{{infoUserLogged.id}}'})" menu-close  >
                <span class="avatar" style="background-image: url('{{url}}{{cheminPhoto}}{{infoUserLogged.photo.cheminPhoto}}'); background-size: cover;"></span>
                <h2 >{{infoUserLogged.prenom}}  {{infoUserLogged.nom[0]}}</h2>
            </ion-header-bar>
        </div>


        <ion-content class="dark-bg has-expanded-header has-header" >
            <ion-list>
                <ion-item  ui-sref="app.articles"nav-clear menu-close style="color: #c6c9cf">
                    <i style="color: white" class="ion-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accueil
                </ion-item>
                <md-divider></md-divider>
                <ion-item ui-sref="app.messages" nav-clear menu-close  style="color: #c6c9cf">
                    <i style="color: white" class="ion-chatbox-working"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Messages
                </ion-item>
                <md-divider></md-divider>
                <ion-item ui-sref="app.collections" nav-clear menu-close style="color: #c6c9cf">
                    <i style="color: white" class="ion-cube"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collections
                </ion-item>
                <md-divider></md-divider>
                <ion-item nav-clear menu-close ui-sref="app.categories" style="color: #c6c9cf">
                    <i  style="color: white" class="ion-navicon-round"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catégories
                </ion-item>
                <md-divider></md-divider>
                <ion-item nav-clear menu-close ui-sref="app.categories"  style="color: #c6c9cf">
                    <i  style="color: white" class="ion-location"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nouveauté près de
                </ion-item>
                <md-divider></md-divider>
                <ion-item nav-clear menu-close ui-sref="app.friends"  style="color: #c6c9cf">
                    <i  style="color: white" class="ion-android-people"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invitez vos amis
                </ion-item>
                <md-divider></md-divider>
                <ion-item nav-clear menu-close ui-sref="app.aide" style="color: #c6c9cf">
                    <i  style="color: white" class="ion-help-circled"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aide
                </ion-item>
                <md-divider></md-divider>
                <ion-item  ng-show="logged" nav-clear menu-close  ng-click="doLogout()" style="color: #c6c9cf">
                   <i  style="color: white" class="ion-log-out"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se déconnecter
                </ion-item>


            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

